div.fixed {
    overflow-y: auto;
    height: 300px;
}

.nopadding {
    padding: 0px;
}

.nomargin {
    margin: 0px;
}

.overflowx-hidden {
    overflow-x: hidden;
}

.panel-shipping-details {
    height: 598px;
}

.panel-shipping-details-body {
    height:93%;
    overflow-y: auto;
}
