
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>The Controller is: <b>@ViewBag.Controller</b></div>
    <div>The Аaction is: <b>@ViewBag.Action</b></div>
</body>
</html>
